.example {
  padding-top: 18px;
  padding-bottom: 30px;

  background-color: #f2f2f2;
}

.example__wrapper {
  padding: 0 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 22px;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
}

.example__table {
  margin: 0 auto;
  margin-bottom: 34px;
}

.example__image {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 46px;
    padding-bottom: 67px;

    background-image: linear-gradient(#ffffff 619px, #f2f2f2 619px);
  }

  .example__wrapper {
    padding: 0 30px;
  }

  .example__title {
    margin-bottom: 60px;
  }

  .example__text {
    padding-right: 30px;
    margin-bottom: 54px;
  }

  .example__table {
    margin-bottom: 81px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 24px;
    background-image: linear-gradient(#ffffff 217px, #f2f2f2 217px);
  }

  .example__container {
    display: flex;
    justify-content: space-between;
    width: 1300px;
  }

  .example__wrapper {
    padding-top: 58px;
    padding-right: 0;
    padding-left: 40px;
  }

  .example__title {
    margin-bottom: 142px;
  }

  .example__text {
    width: 435px;
    margin-bottom: 69px;
  }

  .example__table {
    margin-left: 0;
  }
}
