.logo img {
  display: block;
  width: 33px;
  height: 38px;
}

@media (min-width: $tablet-width) {
  .logo img {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .logo img {
    width: 202px;
    height: 59px;
  }
}
