.main {
  &--inner {
    overflow-x: hidden;
  }
}

.main__front {
  margin-bottom: 22px;
}

.main__title {
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .main__front {
    margin-bottom: 0;
  }

  .main__title {
    margin-top: 61px;
    margin-bottom: 40px;
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main__front {
    margin-top: -113px;
    margin-bottom: 80px;
  }

  .main__title {
    width: $desktop-width;
    margin-top: 78px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
  }
}
