.menu {
  padding: 0;

  list-style: none;
}

.menu__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;

  border-bottom: 1px solid #e6e6e6;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width - 1px) {
  .menu {
    display: none;

    &--opened {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .menu {
    display: flex;
    flex-wrap: wrap;
  }

  .menu__item:not(:last-child) {
    margin-right: 37px;
  }

  .menu__link {
    position: relative;

    padding: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24.86px;
    color: #222222;

    border: none;

    &--active::after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu {
    max-width: 610px;
  }

  .menu__item:not(:last-child) {
    margin-right: 36px;
  }

  .menu__link {
    font-size: 20px;

    &--theme-white {
      color: #ffffff;

      &::after {
        background-color: #ffffff;
      }
    }
  }
}
