.programs__list {
  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .programs__list {
    padding: 0 30px;
  }

  .programs__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 1300px;
  }

  .programs__list {
    padding: 0;
    display: flex;
  }

  .programs__item {
    margin: 0 40px;
    flex-grow: 1;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
