.program {
  padding: 22px 20px;
  padding-top: 31px;
  background-color: #f2f2f2;
}

.program__title {
  position: relative;

  margin-top: 0;
  margin-bottom: 28px;
  padding-left: 72px;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 50%;
    left: 2px;

    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;

    transform: translateY(-50%);
  }

  &--theme-slim {
    &::after {
      top: -9px;
      left: 10px;

      width: 35px;
      height: 49px;

      background-image: url("../img/cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  &--theme-pro {
    &::after {
      top: 4px;
      left: -7px;

      width: 67px;
      height: 28px;

      background-image: url("../img/cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

.program__text {
  margin-top: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;

  border-bottom: 1px solid #d9d9d9;

  br {
    display: none;
  }
}

.program__link {
  position: relative;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 50%;
    right: -29px;

    width: 17px;
    height: 3px;

    background-color: #3e4242;

    transform: translateY(-50%);
  }

  &::after {
    top: 50%;
    right: -39px;

    border: 5px solid transparent;
    border-left-color: #3e4242;

    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      right: -38px;
      width: 26px;
      transition: 0.3s;
    }

    &::after {
      right: -48px;
      transition: 0.3s;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .program {
    padding-top: 78px;
    padding-bottom: 61px;
    padding-left: 52px;
  }

  .program__title {
    margin-bottom: 22px;
    padding-left: 0;

    &::before {
      top: 14px;
      right: 42px;
      left: auto;

      width: 200px;
      height: 200px;

      transform: none;
    }

    &--theme-slim {
      &::after {
        top: 2px;
        right: 72px;
        left: auto;

        width: 140px;
        height: 194px;
      }
    }

    &--theme-pro {
      &::after {
        top: 57px;
        right: 11px;
        left: auto;

        width: 268px;
        height: 112px;
      }
    }
  }

  .program__text {
    padding: 0;
    margin-right: 261px;
    margin-bottom: 57px;

    border: none;

    br {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .program {
    padding-top: 78px;
    padding-bottom: 61px;
    padding-left: 52px;
  }

  .program__title {
    margin-bottom: 71px;
    padding-left: 164px;

    &::before {
      left: 0;

      width: 100px;
      height: 100px;
    }

    &--theme-slim {
      &::after {
        top: -37px;
        left: 14px;

        width: 70px;
        height: 97px;
      }
    }

    &--theme-pro {
      &::after {
        top: -9px;
        left: -18px;

        width: 134px;
        height: 56px;
      }
    }
  }

  .program__text {
    width: 465px;
    padding: 0;
    margin-bottom: 33px;

    border: none;

    br {
      display: none;
    }
  }
}
