.subtitle {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 13px;

    display: block;
    width: 500%;
    height: 3px;

    background-color: $green;
  }

  &::before {
    right: calc(100% + 24px);
  }

  &::after {
    left: calc(100% + 24px);
  }
}

@media (min-width: $tablet-width) {
  .subtitle {
    &::before {
      top: 21px;
      right: calc(100% + 40px);
    }

    &::after {
      top: 21px;
      left: calc(100% + 40px);
    }
  }
}
