.toggle-image {
  width: 320px;
}

.toggle-image__pictures {
  position: relative;

  height: 240px;
  margin-bottom: 32px;

  img {
    display: block;
  }
}

.toggle-image__before {
  position: absolute;
  bottom: 0;
  left: 0;
}

.toggle-image__after {
  position: absolute;
  right: 26px;
  bottom: 0;

  width: 0;
}

.toggle-image__control {
  display: flex;
  justify-content: center;
}

.toggle-image__button {
  padding: 0;
  padding-bottom: 5px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $hcolor;
  text-transform: uppercase;

  border: none;
  border-bottom: 1px dashed transparent;
  background: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    border-style: solid;
    border-color: #989898;
  }

  &:active {
    border-color: transparent;
  }
}

.toggle-image__toggle-button {
  margin: 0 18px;
  margin-top: 3px;
  align-items: flex-start;
}

@media (min-width: $tablet-width) {
  .toggle-image {
    width: 708px;
  }

  .toggle-image__pictures {
    height: 517px;
    margin-bottom: 13px;
  }

  .toggle-image__before {
    width: 50%;
    height: 499px;

    overflow-x: hidden;

    img {
      position: absolute;
      left: 16px;
      bottom: 0;

      max-width: 677px;
    }
  }

  .toggle-image__after {
    right: 0;

    width: 50%;
    height: 517px;

    overflow-x: hidden;

    img {
      position: absolute;
      right: 56px;
      bottom: 0;

      max-width: 545px;
    }
  }

  .toggle-image__button {
    font-size: 20px;

    border-color: #bebebe;
  }

  .toggle-image__scale {
    margin-right: 21px;
    margin-left: 24px;
  }
}

@media (min-width: $desktop-width) {
  .toggle-image {
    width: 650px;
  }

  .toggle-image__pictures {
    margin-bottom: 34px;
  }

  .toggle-image__before {
    img {
      left: -40px;
    }
  }

  .toggle-image__after {
    img {
      right: 54px;
    }
  }
}
